* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

p {
  line-height: 1.9rem;
  padding: 1.8rem 0;
  font-size: 1.2rem;
}

i {
  padding-right: .2rem;
}

    /* colours palette  */

    :root {
      --blue: #0084FD;
      --lightblue: #B5DDFF;
      --violet: #9792E4;
      --orange: #FDC15F;
      --black: #333333;
      --bold-black: #030D22;
      --white: #FFFFFF;
    }

    /* colours palette  */

    /* utilities */

.white-text {
  color: var(--white);
}

.black-text-light {
  color: var(--black);
}

.black-text {
  color: var(--bold-black);
}

.blue-text {
  color: var(--blue);
}

.small-text {
  font-size: 1rem;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.btn {
  border-radius: 5rem;
  cursor: pointer;
}

.small-btn {
  padding: 5rem;
}

.big-btn {
  padding: .6rem 5rem;
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-white {
  background-color: var(--white);
}

.box {
  border-radius: 2rem;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  height: 100%;
} 

.debug {
  border: 1px solid black;
  background-color: rgba(160, 62, 62, 0.2);
}

.d-flex {
  display: flex;
}

 /* /utilities */

.container {
  width: 90%;
  max-width: 576px;
  margin: 0px auto;
}

.col {
  width: 100%;
  padding: 1rem;
}


header.topbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: var(--blue);
  padding: 15px;
}

header.topbar .container {
  justify-content: space-between;
 }


header.topbar nav ul li {
  display: none;
  list-style: none;
  padding: 0 20px;
  vertical-align: middle;
}

header.topbar nav ul li:last-child {
  background-color: var(--white);
  margin-top: 5px;
  padding-bottom: 5px;
}


/*  section with five blocks  */

section#five-blocks {
  padding-top: 100px;
}

section#five-blocks .row {
  flex-wrap: wrap;
  flex-direction: column;
}

section#five-blocks .row.inside {
  flex-direction: column;
  text-align: center;
 }

section#five-blocks .row.inside .col.col-2 {
  padding-bottom: 0;
}

 section#five-blocks .text {
  text-align: left;
  padding-bottom: 2rem;
 }

 section#five-blocks .text .button {
  text-align: center;
 }

 section#five-blocks .image {
  width: 100%;
 }

section#five-blocks .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

section#five-blocks .btn {
  background-color: var(--blue);
}

section#five-blocks .box {
  text-align: center;
}

section#five-blocks .icon {
  font-size: 5rem;
  color: var(--blue);
  padding-bottom: .9rem;
}


/*  /section with five blocks  */


/* section strategic planning */

section#strategic-planning {
  background-color: var(--violet);
}
section#strategic-planning .row {
  width: 100%;
  flex-direction: column;
  text-align: center;
}

section#strategic-planning .first.card,
section#strategic-planning .second.card
 {
  width: 100%;
}

section#strategic-planning .first.card img,
section#strategic-planning .second.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


section#strategic-planning .second.card i {
  background-color: var(--violet);
  padding: 1rem 1.1rem;
  border-radius: 50%;
}


/* /section strategic planning */

/* section testimonial */

   /* altezze da togliere */

section#testimonial .container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section#testimonial .col {
  height: 150px;
}

section#testimonial .col .card {
  border-radius: 20px;
  height: 80px;
  flex-direction: column;
}

section#testimonial .col .card .image {
  background-color: yellow;
}

/* /section testimonial */


/* section benefits  */

section#benefits .row {
  flex-direction: column;
}


/* /section benefits  */

/*  section about us */

section#about-us .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*  /section about us */

footer {
  text-align: center;
}


/* ----MEDIA QUERIES ---*/


  /* TABLET media query*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  
  
  p {
    line-height: 1.9rem;
    padding: 1.2rem 0;
    font-size: 1.2rem;
  }
  
.big-btn {
  padding: .4rem 3rem;
}

     /* five blocks section  */


 section#five-blocks .row {
  flex-direction: row;
  align-items: stretch;
 }

 section#five-blocks .row.inside .col {
  width: 100%;
 }

  section#five-blocks .first.col {
   width: calc(100% - 100% / 3);
  }
  
  section#five-blocks .col {
   width: calc( 100% / 3);
  }

  section#five-blocks .col .image {
    width: 80%;
   }
  
  section#five-blocks .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  section#five-blocks .text .button {
    text-align: left;
    padding-bottom: 2rem;
   }
  

 
  

/* five blocks section  */

/* strategic planning section  */
section#strategic-planning .first.card h2 {
  font-size: 4rem;
  text-align: left;
}
/* /strategic planning section  */

/* testionial section  */
  section#testimonial .col {
   width: 100%;
   height: 150px;
}

  section#testimonial .col .card {
   border-radius: 20px;
   height: 80px;
   justify-content: space-between;
   flex-direction: row;
 }

section#testimonial .col .card .image {
  background-color: yellow;

  
}
/* testionial section  */ 
/* section benefits  */
section#benefits .row {
  flex-wrap: wrap;
  flex-direction: row;
  }

  section#benefits .row .col {
  width: calc( 100% / 2);
  height: 200px;
}
/* /section benefits  */
/* section about us  */

section#about-us .row {
  height: 200px;
  flex-direction: row;
}

section#about-us .row .first.col {
  width: 70%;
}

section#about-us .row .second.col {
  width: 30%;
}

/* /section about us  */ 

}

/* ---DESKTOP media query */

@media screen and (min-width: 1200px) {


 .container {
  width: 70%;
  max-width: 1200px;
 }


 header.topbar nav ul li {
  display: inline-block;
 }

 section#five-blocks .row {
  flex-direction: row;
}

section#five-blocks .row.inside {
  flex-direction: row;
  justify-content: space-between;
}

section#five-blocks .row.inside .col {
  width: 50%;
 }

 
 section#five-blocks .col .image {
  width: 100%;
 }


  /* section strategic planning */ 

section#strategic-planning h2 {
  font-size: 1.8rem;
  padding: 3rem 0 2rem 0;
}

section#strategic-planning .row {
  flex-direction: row;
}

section#strategic-planning .row .col {
  width: 50%;
}

section#strategic-planning .row .col .first.card {
  padding: 20% 0 20% 20%;
}

section#strategic-planning .row .col .second.card {
  padding: 20% 20% 20% 0;
}

  /* /section strategic planning */ 

   /* /section testimonial */ 
 
/* section benefits  */

  section#benefits .row .col {
  width: calc( 100% / 3);
  height: 200px;
}
/* /section benefits  */

}
